<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find speech_recognition)/src/language_models/tuesday.lm"/>
    <param name="dict" value="$(find speech_recognition)/src/language_models/tuesday.dic"/>
  </node>
  
  <node name="voice_op" pkg="speech_recognition" type="voice_op.py" output="screen">

</launch>
